<!DOCTYPE html>
<html lang="en">
<head>
{% include 'header.html' %}
</head>
<body>

    <!--*******************
        Preloader start
    ********************-->
   <div id="preloader">
		<div class="lds-ripple">
			<div></div>
			<div></div>
		</div>
    </div>
    <!--*******************
        Preloader end
    ********************-->

    <!--**********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper">
        <!--**********************************
            Nav header start
        ***********************************-->
        <div class="nav-header">
            <a href="{{ url_for('BLP_general.home') }}" class="brand-logo">
				<h1 class="brand-title">QuantumChain</h1>
            </a>
        </div>
        <!--**********************************
            Nav header end
        ***********************************-->

		<!--**********************************
            Header start
        ***********************************-->
		{% include 'navbar.html' %}
        <!--**********************************
            Header end ti-comment-alt
        ***********************************-->

        <!--**********************************
            Sidebar start
        ***********************************-->
		{% include 'sidebar.html' %}
        <!--**********************************
            Sidebar end
        ***********************************-->

		<!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">
            <!-- row -->
			<div class="page-titles">
				<ol class="breadcrumb">
					<li><h5 class="bc-title">Miner blockchain</h5></li>
					<li class="breadcrumb-item"><a href="{{ url_for('BLP_general.home') }}">
						<svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M10.986 14.0673C7.4407 14.0673 4.41309 14.6034 4.41309 16.7501C4.41309 18.8969 7.4215 19.4521 10.986 19.4521C14.5313 19.4521 17.5581 18.9152 17.5581 16.7693C17.5581 14.6234 14.5505 14.0673 10.986 14.0673Z" stroke="#888888" stroke-linecap="round" stroke-linejoin="round"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M10.986 11.0054C13.3126 11.0054 15.1983 9.11881 15.1983 6.79223C15.1983 4.46564 13.3126 2.57993 10.986 2.57993C8.65944 2.57993 6.77285 4.46564 6.77285 6.79223C6.76499 9.11096 8.63849 10.9975 10.9563 11.0054H10.986Z" stroke="#888888" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
						Overview</a>
					</li>
				</ol>
			</div>

			<div class="container-fluid">
				<div class="row">
                    {% if fig_forks_blockchain %}
                    <div class="col-xl-12  col-lg-6 col-sm-6">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Overview of all blockchains</h4>
                            </div>
                            <div class="card-body">
                                    <div id='fig_forks_blockchain' class='chart center-block'></div>
                                    <script type='text/javascript'>
                                        // hide plotly toolbox
                                        var graphs = {{ fig_forks_blockchain | safe}};
                                        Plotly.plot('fig_forks_blockchain', graphs, {}, {displayModeBar: false});
                                    </script>
                            </div>
                        </div>
                    </div>
                    {% else %}
                        <div class="container-fluid">
                            <div class="row">
                                <div class="alert alert-warning solid alert-rounded "><strong>Warning!</strong> No data found.</div>
                            </div>
                        </div>
                    {% endif %}
				</div>

			</div>
        </div>

        <!--**********************************
            Content body end
        ***********************************-->



        <!--**********************************
            Footer start
        ***********************************-->
        <div class="footer">
            <div class="copyright">
               <p>Copyright © Developed by <a href="https://antonin-lfv.github.io" target="_blank">Antonin</a> & Tom 2023</p>
            </div>
        </div>
        <!--**********************************
            Footer end
        ***********************************-->

	</div>
    <!--**********************************
        Main wrapper end
    ***********************************-->

    <!--**********************************
        Scripts
    ***********************************-->
	{% include 'javascript_includes.html' %}

</body>
</html>