<!DOCTYPE html>
<html lang="en">
<head>
{% include 'header.html' %}	
</head>
<body>

    <!--*******************
        Preloader start
    ********************-->
   <div id="preloader">
		<div class="lds-ripple">
			<div></div>
			<div></div>
		</div>
    </div>
    <!--*******************
        Preloader end
    ********************-->

    <!--**********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper">
        <!--**********************************
            Nav header start
        ***********************************-->
        <div class="nav-header">
            <a href="{{ url_for('BLP_general.home') }}" class="brand-logo">
				<h1 class="brand-title">QuantumChain</h1>
            </a>
        </div>
        <!--**********************************
            Nav header end
        ***********************************-->
		
		<!--**********************************
            Header start
        ***********************************-->
		{% include 'navbar.html' %}
        <!--**********************************
            Header end ti-comment-alt
        ***********************************-->

        <!--**********************************
            Sidebar start
        ***********************************-->
		{% include 'sidebar.html' %}	
        <!--**********************************
            Sidebar end
        ***********************************-->
		
		<!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">
            <!-- row -->	
			<div class="page-titles">
				<ol class="breadcrumb">
					<li><h5 class="bc-title">Miners</h5></li>
					<li class="breadcrumb-item"><a href="{{ url_for('BLP_general.home') }}">
						<svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M2.125 6.375L8.5 1.41667L14.875 6.375V14.1667C14.875 14.5424 14.7257 14.9027 14.4601 15.1684C14.1944 15.4341 13.8341 15.5833 13.4583 15.5833H3.54167C3.16594 15.5833 2.80561 15.4341 2.53993 15.1684C2.27426 14.9027 2.125 14.5424 2.125 14.1667V6.375Z" stroke="#2C2C2C" stroke-linecap="round" stroke-linejoin="round"/>
							<path d="M6.375 15.5833V8.5H10.625V15.5833" stroke="#2C2C2C" stroke-linecap="round" stroke-linejoin="round"/>
						</svg>
						Home</a>
					</li>
					<li class="breadcrumb-item active"><a href="javascript:void(0)">Miners</a></li>
				</ol>
			</div>

			<div class="container-fluid">
				<div class="row">
					<div class="col-xl-12">
						<div class="card">
							<div class="card-body p-0">
								<div class="table-responsive active-projects style-1">
								<div class="tbl-caption">
									<h4 class="heading mb-0">Miners</h4>
									<div>
										<a class="btn btn-primary btn-sm" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" id="updateTableButton" aria-controls="offcanvasExample">Update</a>
									</div>
								</div>
									<table id="empoloyees-tblwrapper" class="table">
										<thead>
											<tr>
												<th>Miner Name</th>
												<th>Tokens earned</th>
												<th>Blocks mined</th>
                                                <th>Total blocks in the blockchain</th>
                                                <th>Honesty</th>
												<th>Status</th>
											</tr>
										</thead>
										<tbody>
											{% for miner in miners %}
												<tr>
													<td>
														<div class="products">
															<div>
																<h3>{{miner["name"]}}</h3>
                                                                <a class="btn btn-primary btn-xxs" href="{{ url_for('BLP_general.view_blockchain', miner_name=miner['name']) }}">View blockchain</a>
															</div>	
														</div>
													</td>
													<td><span>{{miner["nb_tokens_earned"]}}</span></td>
													<td><span>{{miner["nb_blocks_mined"]}}</span></td>
                                                    <td><span>{{miner["nb_blocks_blockchain"]}}</span></td>
                                                    <td>
                                                        <span class="badge badge-{% if miner["honesty"] %}success{% else %}danger{% endif %} light border-0">{% if miner["honesty"] %}Honest{% else %}Dishonest{% endif %}</span>
													<td>
														<span class="badge badge-{% if miner["activated"] %}success{% else %}danger{% endif %} light border-0">{% if miner["activated"] %}Active{% else %}Inactive{% endif %}</span>
													</td>
												</tr>
											{% endfor %}
											
										</tbody>
										
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			
			</div>
        </div>
		
        <!--**********************************
            Content body end
        ***********************************-->
		
		
		
        <!--**********************************
            Footer start
        ***********************************-->
        <div class="footer">
            <div class="copyright">
               <p>Copyright © Developed by <a href="https://antonin-lfv.github.io" target="_blank">Antonin</a> & Tom 2023</p>
            </div>
        </div>
        <!--**********************************
            Footer end
        ***********************************-->
		
	</div>
    <!--**********************************
        Main wrapper end
    ***********************************-->

    <!--**********************************
        Scripts
    ***********************************-->
	{% include 'javascript_includes.html' %}

	<script>
		// Fonction pour mettre à jour le tableau
		function updateTable(miners) {
			let tableBody = $('#empoloyees-tblwrapper tbody');
			tableBody.empty(); // Videz le tableau existant

            let url_miner_blockchain = "{{ url_for('BLP_general.view_blockchain', miner_name='miner_name') }}";
		
			miners.forEach((miner) => {
			tableBody.append(`
				<tr>
				<td>
					<div class="products">
					<div>
						<h3>${miner.name}</h3>
						<a class="btn btn-primary btn-xxs" href="${url_miner_blockchain.replace('miner_name', miner.name)}">View blockchain</a>
					</div>
					</div>
				</td>
				<td><span>${miner.nb_tokens_earned}</span></td>
				<td><span>${miner.nb_blocks_mined}</span></td>
                <td><span>${miner.nb_blocks_blockchain}</span></td>
                <td>
                    <span class="badge badge-${miner.honesty ? 'success' : 'danger'} light border-0">${miner.honesty ? 'Honest' : 'Dishonest'}</span>
				<td>
                    <span class="badge badge-${miner.activated ? 'success' : 'danger'} light border-0">${miner.activated ? 'Active' : 'Inactive'}</span>
				</tr>
			`);
			});
		}
		
		// Fonction pour récupérer les données
		function fetchMiners() {
			$.get("/get_miners", function(data) {
			updateTable(data.miners);
			});
		}
		
		// Ajout d'un gestionnaire d'événements pour le bouton
		$("#updateTableButton").click(function() {
			fetchMiners();
		});

	</script>
	
	
</body>
</html>