<!DOCTYPE html>
<html lang="en">
<head>
{% include 'header.html' %}
</head>
<body>

    <!--*******************
        Preloader start
    ********************-->
   <div id="preloader">
		<div class="lds-ripple">
			<div></div>
			<div></div>
		</div>
    </div>
    <!--*******************
        Preloader end
    ********************-->

    <!--**********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper">
        <!--**********************************
            Nav header start
        ***********************************-->
        <div class="nav-header">
            <a href="{{ url_for('BLP_general.home') }}" class="brand-logo">
				<h1 class="brand-title">QuantumChain</h1>
            </a>
        </div>
        <!--**********************************
            Nav header end
        ***********************************-->

		<!--**********************************
            Header start
        ***********************************-->
		{% include 'navbar.html' %}
        <!--**********************************
            Header end ti-comment-alt
        ***********************************-->

        <!--**********************************
            Sidebar start
        ***********************************-->
		{% include 'sidebar.html' %}
        <!--**********************************
            Sidebar end
        ***********************************-->

		<!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">
            <!-- row -->
			<div class="page-titles">
				<ol class="breadcrumb">
					<li><h5 class="bc-title">Miner blockchain</h5></li>
					<li class="breadcrumb-item"><a href="{{ url_for('BLP_general.home') }}">
						<svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M2.125 6.375L8.5 1.41667L14.875 6.375V14.1667C14.875 14.5424 14.7257 14.9027 14.4601 15.1684C14.1944 15.4341 13.8341 15.5833 13.4583 15.5833H3.54167C3.16594 15.5833 2.80561 15.4341 2.53993 15.1684C2.27426 14.9027 2.125 14.5424 2.125 14.1667V6.375Z" stroke="#2C2C2C" stroke-linecap="round" stroke-linejoin="round"></path>
							<path d="M6.375 15.5833V8.5H10.625V15.5833" stroke="#2C2C2C" stroke-linecap="round" stroke-linejoin="round"></path>
						</svg>
						Home</a>
					</li>
					<li class="breadcrumb-item"><a href="{{ url_for('BLP_general.miners') }}">Miners</a></li>
                    <li class="breadcrumb-item active"><a href="javascript:void(0)">{{miner_name}}</a></li>
				</ol>
			</div>

			<div class="container-fluid">
				<div class="row">
					<div class="col-xl-3">
						<div class="card h-auto">
							<div class="card-body">
								<div class="c-profile text-center">
									<img src="{{ url_for('static', filename='assets/images/tab/user.png') }}" class="rounded-circle mb-2" alt="" height="96">
									<h4>{{ miner_name }}</h4>
								</div>
								<div class="c-details">
									<ul>
										<li>
											<span>Token earned by block reward</span>
											<p>{{ miner['tokens'] }}</p>
										</li>
										<li>
											<span>Mined blocks</span>
											<p>{{ miner['nb_blocks_mined'] }}</p>
										</li>
									</ul>
								</div>
                                <br>
                                <span class="badge badge-{% if miner["activated"] %}success{% else %}danger{% endif %} light border-0">{% if miner["activated"] %}Active{% else %}Inactive{% endif %}</span> &nbsp;
                                <span class="badge badge-{% if miner["honesty"] %}success{% else %}danger{% endif %} light border-0">{% if miner["honesty"] %}Honest{% else %}Dishonest{% endif %}</span>
								<br>
                                <div>
                                    <br>
                                <!-- Btn to activate or deactivate the miner in the blockchain -->
                                <div class="sweetalert">
                                    <button class="btn btn-{% if miner["activated"] %}danger{% else %}success{% endif %} btn sweet-success btn-xs" id="TurnMinerActivation">{% if miner['activated'] %}Deactivate{% else %}Activate{% endif %} miner</button>
                                </div>
                                    <br>
                                <!-- Btn to set the miner dishonest or honest in the blockchain -->
                                <div class="sweetalert">
                                    <button class="btn btn-{% if miner["honesty"] %}danger{% else %}success{% endif %} btn sweet-success btn-xs" id="TurnMinerHonesty">Turn miner to {% if miner['honesty'] %}Dishonest{% else %}Honest{% endif %} </button>
                                </div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xl-9">
						<div class="card h-auto">
							<div class="card-header py-3">
								<h4 class="heading mb-0">Last 20 transactions of {{ miner_name }}</h4>
							</div>
							<div class="card-body p-0">
								<div class="table-responsive active-projects style-1">
									<table id="empoloyees-tbl" class="table">
										<thead>
                                            <tr>
                                                <th>SENDER</th>
                                                <th>RECIPIENT</th>
                                                <th>STATUS</th>
                                                <th>DATE</th>
                                                <th>AMOUNT</th>
                                            </tr>
                                        </thead>
										<tbody>
                                        {% for transaction in miners_last_20_transactions %}
											<tr>
												<td>
                                                    <span>{{ transaction['sender'] }}</span>
                                                </td>
												<td>
													<span>{{ transaction['recipient'] }}</span>
												</td>
												<td><span class="badge badge-success light border-0">Completed</span></td>
												<td>
													<span>{{ transaction['timestamp'] }}</span>
												</td>
												<td>
                                                    <span><b>{{ transaction['amount'] }}</b> tokens</span>
												</td>
											</tr>
                                        {% endfor %}
										</tbody>

									</table>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xl-12  col-lg-6">
                        <div class="card">
                            <div class="card-header border-0 pb-0">
                                <h4 class="card-title">Last 10 blocks of the blockchain</h4>
                            </div>
                            <div class="card-body p-0">
                                <div id="DZ_W_TimeLine" class="widget-timeline dz-scroll height370 my-4 px-4">
                                    <ul class="timeline">
                                        {% for block in last_10_blocks %}
                                        <li>
                                            <div class="timeline-badge info">
                                            </div>
                                            <a class="timeline-panel " href="#">
                                                <span>{{ block['end_time'] }}</span>
                                                <h6 class="mb-0"><b>Block</b> {{ block['index'] }} mined by <strong class="text-info" href="{{ url_for('BLP_general.view_blockchain', miner_name=block['miner']) }}">{{ block['miner'] }}</strong></h6>
                                                <p class="mb-0"><b>Hash</b> : {{ block['hash'] }}</p>
                                                <p class="mb-0"><b>Nonce</b> : {{ block['nonce'] }}</p>
                                                <p class="mb-0"><b>Transactions</b> : <br>{% for transaction in block['transactions'] %}{{ beautify_transaction(transaction) }}<br>{% endfor %}</p>
                                            </a>
                                        </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
					</div>
				</div>

			</div>
        </div>

        <!--**********************************
            Content body end
        ***********************************-->



        <!--**********************************
            Footer start
        ***********************************-->
        <div class="footer">
            <div class="copyright">
               <p>Copyright © Developed by <a href="https://antonin-lfv.github.io" target="_blank">Antonin</a> & Tom 2023</p>
            </div>
        </div>
        <!--**********************************
            Footer end
        ***********************************-->

	</div>
    <!--**********************************
        Main wrapper end
    ***********************************-->

    <!--**********************************
        Scripts
    ***********************************-->
    <script>
        // change miner honesty with url "/change_miner_honesty/<miner_name>"
        function change_miner_honesty(miner_name) {
            $.get("/change_miner_honesty/"+miner_name, function(data, status){
                if (status == "success") {
                    console.log("Miner honesty changed");
                }
                else {
                    console.log("Error while changing miner honesty");
                }
            });
        }

        // change miner activation with url "/change_miner_activation/<miner_name>"
        function change_miner_activation(miner_name) {
            $.get("/change_miner_activation/"+miner_name, function(data, status){
                if (status == "success") {
                    console.log("Miner activation changed");
                }
                else {
                    console.log("Error while changing miner activation");
                }
            });
        }

        // Add event listener to the button to change miner honesty
        document.getElementById("TurnMinerHonesty").addEventListener("click", function(){
            change_miner_honesty("{{ miner_name }}");
        });

        // Add event listener to the button to change miner activation
        document.getElementById("TurnMinerActivation").addEventListener("click", function(){
            change_miner_activation("{{ miner_name }}");
        });
    </script>
	{% include 'javascript_includes.html' %}

</body>
</html>