<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="keywords" content="">
<meta name="author" content="">
<meta name="robots" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="POW blockchain explorer">
<meta property="og:title" content="POW blockchain explorer">
<meta property="og:description" content="POW blockchain explorer">
<meta name="format-detection" content="telephone=no">

<!-- PAGE TITLE HERE -->
<title>
    QuantumChain POW blockchain explorer
</title>
<!-- FAVICONS ICON -->
<link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='assets/images/favicon.png') }}">

<link href="{{ url_for('static', filename='assets/vendor/bootstrap-select/dist/css/bootstrap-select.min.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='assets/vendor/swiper/css/swiper-bundle.min.css') }}" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/14.6.4/nouislider.min.css">
<link href="{{ url_for('static', filename='assets/vendor/datatables/css/jquery.dataTables.min.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='assets/vendor/jvmap/jquery-jvectormap.css') }}" rel="stylesheet">
<link href="https://cdn.datatables.net/buttons/1.6.4/css/buttons.dataTables.min.css" rel="stylesheet">
<link href="{{ url_for('static', filename='assets/vendor/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='assets/vendor/sweetalert2/dist/sweetalert2.min.css') }}" rel="stylesheet">
<!-- tagify-css -->
<link href="{{ url_for('static', filename='assets/vendor/tagify/dist/tagify.css') }}" rel="stylesheet">
<!-- Style css -->
<link href="{{ url_for('static', filename='assets/css/style.css') }}" rel="stylesheet">
<!-- Plotly Chart -->
<script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
